<template>
  <div id="app">
    <nav-bar/>
    <aside-menu :menu="menu"/>
    <router-view/>
    <footer-bar/>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar'
import AsideMenu from '@/components/AsideMenu'
import FooterBar from '@/components/FooterBar'

export default {
  name: 'home',
  components: {
    FooterBar,
    AsideMenu,
    NavBar
  },
  computed: {
    menu () {
      return [
        'General',
        [
          {
            to: '/',
            icon: 'desktop-mac',
            label: 'Dashboard'
          }
        ],
        'Admin',
        [
          {
            to: '/clients/index',
            label: 'Clients',
            icon: 'account-multiple',
            updateMark: true
          },
          {
            to: '/books/index',
            label: 'Books',
            icon: 'book-open-variant'
          },
          {
            to: '/categories/index',
            label: 'Categories',
            icon: 'book-open-variant'
          },
        ],
        'Workspace',
        [
          {
            to: '/return',
            label: 'Return',
            icon: 'book-open-variant'
          },
          {
            to: '/books',
            label: 'Borrow',
            icon: 'square-edit-outline'
          },
          // {
          //   label: 'Submenus',
          //   subLabel: 'Submenus Example',
          //   icon: 'view-list',
          //   menu: [
          //     {
          //       href: '#void',
          //       label: 'Sub-item One'
          //     },
          //     {
          //       href: '#void',
          //       label: 'Sub-item Two'
          //     }
          //   ]
          // }
        ],
        'About',
        [
          {
            href: '#void',
            label: 'About',
            icon: 'help-circle'
          }
        ]
      ]
    }
  },
  created () {
    axios
      .get('/user')
      .then(r => {
        this.$store.commit('user', r.data.data)
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Error: ${err.message}`,
          type: 'is-danger'
        })
      })
  }
}
</script>
