<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      Borrow
      <router-link slot="right" to="/" class="button">
        Dashboard
      </router-link>
    </hero-bar>
    <section class="section is-main-section">


      <card-component class="has-table has-mobile-sort-spaced" title="Books" icon="book-open-variant">

        <div class="control">
          <input type="text" v-model="queryBooks" class="input" placeholder="Search everywhere...">
        </div>

        <books-table-sample :filter="this.queryBooks" data-url="/books" search-url="/books/search" :checkable="true"/>
      </card-component>

      <hr>



      <card-component class="has-table has-mobile-sort-spaced" title="Clients" icon="book-open-variant">
        <div class="control">
          <input type="text" v-model="queryClients" class="input" placeholder="Search everywhere...">
        </div>
        <clients-table-sample :filter="this.queryClients"  data-url="/clients" :checkable="false" :focusable="true" />
      </card-component>

      <hr>



      <card-component class="has-table has-mobile-sort-spaced" title="Cart" icon="book-open-variant">
        <cart-table-sample data-url="" :checkable="true"/>
      </card-component>

          <div class="buttons">
            <button class="button  is-info" type="button" @click="checkoutBooks()">
              <b-icon icon="cart-plus" custom-size="default"/>
              <span>Checkout</span>
            </button>
          </div>
    </section>
  </div>

</template>

<script>
import Notification from '@/components/Notification'
import CartTableSample from '@/components/CartTableSample'
import BooksTableSample from '@/components/BooksTableSample'
import ClientsTableSample from '@/components/ClientsTableSample'
import CardComponent from '@/components/CardComponent'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
export default {
  name: 'Books',
  name: 'Clients',
  components: { HeroBar, TitleBar, CardComponent, BooksTableSample, ClientsTableSample, CartTableSample, Notification },
  data() {
        return {
            queryBooks: null,
            queryClients: null,
            results: []
        };
    },

  computed: {
    titleStack () {
      return [
        'Workspace',
        'Borrow',

      ]
    }
  },
  methods: {
    checkoutBooks (){
      const data = {
        clientId:this.$store.state.client.id,
        bookIds:this.$store.state.cart.map(a=>a.id),
      };
        axios
        .post("/books-checkout",data)
        .then(r=>{
          this.$store.commit('clearCartAfterCheckout');

        })
        .catch(r=>{

        })
      }
    }

}
</script>
