<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      Return
      <router-link slot="right" to="/" class="button">
        Dashboard
      </router-link>
    </hero-bar>
    <section class="section is-main-section">

      <card-component class="has-table has-mobile-sort-spaced" title="Clients" icon="book-open-variant">
        <div class="control">
          <input type="text" v-model="queryClients" class="input" placeholder="Search everywhere...">
        </div>
        <clients-table-sample :filter="this.queryClients"  data-url="/clients" :checkable="false" :focusable="true" />
      </card-component>

      <hr>

      <hr>

      <card-component class="has-table has-mobile-sort-spaced" title="Cart" icon="book-open-variant">
        <return-cart data-url="" :checkable="true"/>
      </card-component>

          <div class="buttons">
            <button class="button  is-info" type="button" @click="returnBooks()">
              <b-icon size="is-big"/>Return
            </button>
          </div>
    </section>
  </div>

</template>

<script>
import Notification from '@/components/Notification'
import ReturnCart from '@/components/ReturnCart'
import BooksTableSample from '@/components/BooksTableSample'
import ClientsTableSample from '@/components/ClientsTableSample'
import CardComponent from '@/components/CardComponent'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
export default {
  name: 'Books',
  name: 'Clients',
  components: { HeroBar, TitleBar, CardComponent, BooksTableSample, ReturnCart, ClientsTableSample, Notification },
  data() {
        return {
            queryClients: null,
            results: []
        };
    },

    methods: {

    },
  computed: {
    titleStack () {
      return [
        'Workspace',
        'Return'
      ]
    }
  }
}
</script>
