<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      Category
      <router-link slot="right" to="/" class="button">
        Dashboard
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <notification class="is-info">
        <div>
          <b-icon icon="buffer" custom-size="default"/>
          <b>Sorted and paginated table.</b>&nbsp;Based on Buefy's table.
        </div>
      </notification>

      <card-component class="has-table has-mobile-sort-spaced" title="Category" icon="account-multiple">
        <category-table-sample data-url="/category" :checkable="true"/>
      </card-component>

      <hr>

      <notification class="is-info">
        <div>
          <b-icon icon="buffer" custom-size="default"/>
          <b>Tightly wrapped</b> &mdash; table header becomes card header
        </div>
      </notification>

      <card-component class="has-table has-mobile-sort-spaced">
        <category-table-sample data-url="/category" :checkable="true"/>
      </card-component>

      <hr>

      <notification class="is-info">
        <div>
          <b-icon icon="buffer" custom-size="default"/>
          <b>Empty table.</b> When there's nothing to show
        </div>
      </notification>

      <card-component class="has-table">
        <category-table-sample/>
      </card-component>
    </section>
  </div>

</template>

<script>
import Notification from '@/components/Notification'
import CategoryTableSample from '@/components/CategoryTableSample'
import CardComponent from '@/components/CardComponent'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
export default {
  name: 'Category',
  components: { HeroBar, TitleBar, CardComponent, CategoryTableSample, Notification },
  computed: {
    titleStack () {
      return [
        'Admin',
        'Category'
      ]
    }
  }
}
</script>
